* {
    box-sizing: border-box;
}

:root {
    --dark: rgb(7, 24, 43);
    --light: whitesmoke;
    --splash: rgb(255, 234, 50);
}

body {
    background-image: linear-gradient(rgb(255, 234, 50) 0%,
            rgb(224, 220, 170) 100%);
    padding: 0;
    margin: 0;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
    width: 100%;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: var(--dark);
    margin: 4px 8px 3px 6px;
    font-size: 20px;
    padding: 5px;
}

nav a:hover {
    text-decoration: underline;
    color: var(--splash);
    background-color: rgba(26, 26, 95, 0.916);
    border-radius: 6px;
}

html {
    scroll-behavior: smooth;
}

main {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgb(52, 73, 121) 0%,
            rgb(7, 24, 43) 100%);
    color: var(--splash);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 4px solid var(--dark);
    border-radius: 15px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    border-bottom: 2px dashed var(--splash);
    padding-bottom: 20px;
}

.about div {
    margin-left: 30px;
}

.about-text {
    margin-right: 30px;
    background-image: linear-gradient(rgb(255, 234, 50) 0%,
            rgb(224, 220, 170) 100%);
    color: var(--dark);
    padding: 20px;
    border: 4px solid var(--dark);
    border-radius: 8px;
    box-shadow: 2px 2px 5px var(--dark);
}

.selfie {
    height: 150px;
    width: 150px;
    border: 4px solid var(--dark);
    border-radius: 7px;
    box-shadow: 1px 1px 5px var(--dark);
}

.work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    border-right: 4px solid var(--splash);
    padding: 30px;
    min-height: 700px;
}

.work-items {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 30px 30px 100px
}

.work-item {
    min-height: 200px;
    max-height: 200px;
    min-width: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-size: 100%;
    background-repeat: no-repeat;
    flex-basis: calc(50% - 1em);
    margin: 5px;
    border: 4px solid var(--splash);
    border-radius: 8px;
    box-shadow: 5px 5px 5px var(--splash);
    transition: all 0.5s ease-in-out;
}

.work-item:hover {
    box-shadow: none;
    border-color: var(--dark);
    filter: grayscale(50%)
}

.featured {
    min-height: 500px;
    flex-basis: 100%;
    background-image: url(../images/Horiseon\ SEO\ _\ Search\ Engine\ Optimization.jpg);
}

.cheat {
    background-image: url(../images/CSS\ Snippet\ Cheat\ Sheet.jpg);
}

.prework {
    background-image: url(../images/Prework\ Study\ Guide.jpg);
}

.caption {
    margin: 16px;
    padding: 8px;
    background-color: var(--dark);
    color: var(--splash);
    border: 4px solid var(--splash);
    border-radius: 8px;
    box-shadow: 2px 2px 5px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

footer div a {
    text-decoration: none;
    color: var(--dark);
    margin: 4px 8px 8px 6px;
    font-size: 20px;
}

footer div a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1025px) {
    .work-item {
        min-width: 400px;
    }

    .featured {
        max-width: 400px;
        min-height: 400px;
    }
}

@media screen and (max-width: 576px) {

    header {
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        display: flex;
        min-width: 300px;
        text-align: center;
        margin: 10px;
    }

    nav {
        margin: auto;
    }

    .about {
        align-items: flex-start;
    }

    .about div {
        margin: 5px;
    }

    .selfie {
        height: 100px;
        width: 100px;
    }

    .work {
        align-items: flex-start;
        margin-left: 50px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
    }

    .work-items {
        margin: 15px;
        margin-right: 65px;
    }

    .work-item {
        margin: 5px;
        min-height: 150px;
        min-width: 200px;
    }

    .featured {
        min-height: 275px;
        min-width: 200px;
        max-width: 200px;
    }

    footer div a {
        font-size: 14px;
    }
}